@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }

  body {
    @apply bg-darkGradientBg text-white dark:bg-whiteGradientBg dark:text-whiteText transition cursor-auto
  }
  
  .navbar-item {
    @apply font-semibold p-2 text-darkText transition dark:text-whiteText relative before:absolute
    before:bottom-0 before:left-0 before:w-6 before:h-[2px] before:bg-gradient-to-r before:from-gradientRight hover:text-white
    before:to-transparent hover:before:bg-gradientLeft before:transition-all before:duration-300 hover:before:w-full
  }

  .home-title {
    @apply font-bold mb-12 text-4xl md:text-5xl lg:text-6xl w-full
  }

  .gradient-text {
    @apply bg-gradient-to-r from-gradientLeft to-gradientRight inline-block text-transparent bg-clip-text sm:text-start text-center
  }

  .home-paragraph {
    @apply md:text-base lg:text-lg font-semibold text-gray-400 dark:text-gray-600 w-full
  }

  .home-paragraph span:not(:first-child) {
    @apply text-white sm:text-start text-center font-bold dark:text-whiteText
  }

}