@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }

  body {
    @apply bg-darkBackground text-white dark:bg-whiteBackground dark:text-whiteText transition
  }
  
  .navbar-item {
    @apply font-semibold p-2 text-darkText transition dark:text-whiteText relative before:absolute
    before:bottom-0 before:left-0 before:w-6 before:h-[2px] before:bg-gradient-to-r before:from-hoverText hover:text-white
    before:to-transparent hover:before:bg-violet-500 before:transition-all before:duration-300 hover:before:w-full
  }

}